<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit accommodation</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">

</head>
<body>
<div align="center">
    <h1>Edit accommodation</h1>
    <br/>
    <form action="#" th:action="@{/to/accommodation/save}" th:object="${accommodation}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Id</td>
                <td><input type="text" th:field="*{id}"  readonly="readonly"/></td>
            </tr>
            <tr>
                <td>#</td>
                <td><input type="text" th:field="*{group.groupNumber}"  readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Arrival</td>
                <td><input type="text" th:field="*{arrivalInString}" /></td>
            </tr>
            <tr>
                <td>Departure</td>
                <td><input type="text" th:field="*{departureInString}" /></td>
            </tr>
            <tr>
                <td>Check-in</td>
                <td><input type="text" th:field="*{checkIn}" /></td>
            </tr>
            <tr>
                <td>Check-out</td>
                <td><input type="text" th:field="*{checkOut}" /></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" th:field="*{place}" /></td>
            </tr>
            <tr>
                <td>Hotel</td>
                <td><input type="text" th:field="*{hotel}" /></td>
            </tr>
            <tr>
                <td>Rooms</td>
                <td><input type="text" th:field="*{rooms}" /></td>
            </tr>
            <tr>
                <td>Comments</td>
                <td><input type="text" th:field="*{comments}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>