<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles">
    <title>Accommodation</title>
</head>

<body >
<div th:insert="fragments.html :: nav"></div>
<br/>

<div class="container-fluid row">
    <div th:insert="fragments.html :: nav-left" class="col-2 container-fluid" ></div>
    <div class="col-10">
        <div class="container-fluid">
            <h1 style="border-bottom: 1px solid black">ACCOMMODATION</h1>
            <br/>
<!--            <a th:href="@{/to/accommodation/new}" class="btn btn-success">New application</a>-->
<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" >New application</button>-->
            <div class="card">
                <div class="card-block">
                    <table class="table table-sm table-light">
                        <thead class="thead-dark" style="font-size: small">
                        <th style="width: 5%">#</th>
                        <th style="width: 3%">Pax</th>
                        <th style="width: 10%">Country</th>
                        <th>Accommodation</th>
                        <th style="width: 12%">Actions</th>
                        </thead>
                        <tbody>
                            <tr th:each="claim: ${accommodations}" style="font-size: small">
                                <td th:text="${claim.key.groupNumber}" style="font-weight: bolder">#</td>
                                <td th:text="${claim.key.pax}">Pax</td>
                                <td th:text="${claim.key.country}">Country</td>
                                <td>
                                    <table class="table table-sm table-hover">
                                        <tr th:each="accom: ${claim.value}">
                                            <td th:text="${#dates.format(accom.arrival, 'dd/MMM/yyyy')}" style="width: 14%">Arrival</td>
                                            <td th:text="${#dates.format(accom.departure, 'dd/MMM/yyyy')}" style="width: 14%">Departure</td>
                                            <td th:text="${accom.place}" style="width: 14%; font-style: italic">Place</td>
                                            <td th:text="${accom.hotel}" style="width: 20%; font-style: italic">Hotel</td>
                                            <td th:text="${accom.rooms}" style="width: 20%">Rooms</td>
                                            <td th:text="${accom.comments}" style="width: 18%">Comments</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <a  href="#" class="btn btn-outline-success btnEdit" style="font-size: smaller">Edit</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#" class="btn btn-outline-danger" style="font-size: smaller">Cancel</a>

                                </td>
                            </tr>
                            </span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<footer th:insert="fragments.html :: footerfiles"></footer>

</body>
</html>